@charset "utf-8";
/* CSS Document */


/*

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/
/* X-Large devices (large desktops, less than 1600px) */
@media (min-width: 576px){
    #new-addressModal .modal-dialog {
        max-width: 700px;
    }
    #add-reviewModal .modal-dialog {
        max-width: 500px;
    }
}
@media(max-width:1600.98px) {}

/* X-Large devices (large desktops, less than 1500px) */
@media (max-width: 1440.98px) {

    /* for mobile menu responsive section responsive css start */
    .header .menu-link {
        font-size: 14px;
    }

    .header-phone-number-section a {
        font-size: 14px;
    }

    .header-get-call-section a {
        font-size: 14px;
    }

    .header-phone-number-section {
        margin: 0px 20px;
    }

    /* for mobile menu responsive section responsive css end */
    .product-filter-product-image img {
        height: 283px;
        object-position: top center;

    }
    .product-filter-product-right-side-header-text h5 {
        font-size: 20px;
    }
    .product-details-header-text h5 {
        font-size: 25px;
    }
    .product-details-image img {
        height: 590px;
    }
    .add-to-cart-btn a {
        font-size: 15px;
    }
    .add-to-wishlist-btn a {
        font-size: 15px;
    }
    .cart-image-text-total-section .size-select-btn button {
        width: 15%;
    }
    .cart-image-text-total-section .product-quantity-section {
        margin: 3px 0px;
    }
    .product-cart-section .product-filter-product-image img {
        height: 186px;
        object-position: top center;
    }
    .size-select-btn label input+span {
        margin-right: 1px;
        margin-bottom: 5px;
    }
    .order-succesful-text-image h4 {
        font-size: 18px;
    }
    .order-succesful-image img {
        width: 50px;
        height: 50px;
    }
    .information-head-text h5 {
        font-size: 15px;
    }
    .information-text h6 {
        font-size: 13px;
    }
    .information-text p {
        margin-bottom: 0px;
        font-size: 12px;
    }

    .main-banner-image img {
        height: 400px;
    }
    .main-banner-logo-image img {
        width: 190px !important;
    }
    .main-banner-text h1 {
        font-size: 40px;
    }
    .main-banner-text p {
        font-size: 16px;
    }
    .home-page-banner-inner-section {
        left: 53%;
    }
    .unmissable-collection-header-text h4 {
        font-size: 22px;
    }
    .trending-near-section-header-text h4 {
        font-size: 22px;
    }
    .top-ten-week-section-header-text h4 {
        font-size: 22px;
    }
    .shop-by-theme-section-header-text h4 {
        font-size: 22px;
    }
    .women-in-charge-section-header-text h4 {
        font-size: 22px;
    }
    .most-watched-bengali-section-header-text h4 {
        font-size: 22px;
    }
    .straight-form-hollywood-section-header-text h4 {
        font-size: 22px;
    }
    .trending-categories-section-header-text h4 {
        font-size: 22px;
    }
    .best-of-nxt-episode-section-header-text h4 {
        font-size: 22px;
    }
    .unmissable-collection-image img {
        height: 346px;
    }
    .shop-by-theme-image img {
        height: 350px;
    }
    .trending-categories-image img {
        width: 100%;
        height: 470px;
        object-position: top center;
    }
    .trending-categories-image-text h5 {
        font-size: 20px;
    }
    .best-of-nxt-episode-slider-image img {
        height: 400px;
    }
    .upload-image-text h6 {
        font-size: 20px;
    }
    .header-selected-icon a {
        font-size: 18px;
    }
    .user-logout-dropdown {
        margin-right: 36px;
    }
    .shop-by-theme-round-image-category-name h5 {
        font-size: 15px;
        margin-top: 9px;
    }
    .next-episode-x-ray-section-product-details-text {
        height: 258px;
        overflow: hidden;
    }
    .next-episode-x-ray-section-product-details-text p {
        -webkit-line-clamp: 3;
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .header .menu-item {
        margin: 0px 4px;
    }
    .home-page-banner-inner-section {
        left: 50%;
    }
    .main-heder-anchor-tag ul li a {
        font-size: 14px;
    }
    .main-heder-anchor-tag {
        margin-left: 13px;
    }

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    /* for mobile menu responsive section responsive css start */
    .header .menu-link {
        padding: 0px 4px;
    }

    .header .menu-item {
        margin: 0px 0px;
    }

    .header .menu-item {
        display: block;
    }

    .menu-section {
        display: block;
    }

    .header .menu-link {
        display: block;
        padding: 9px 15px;
        font-size: 15px;
    }
    .responsive-account-btn ul li a {
        font-size: 15px;
    }

    .header .menu-item {
        margin: 0px 0px;
        border-bottom: 1px solid #eee;
    }
    .header-get-call-section {
        text-align: center;
        margin-top: 30px;
    }

    .header-phone-number-section a {
        display: none;
    }

    .responsive-phone-icon {
        display: block;
        margin-right: 15px;
        position: relative;
        width: 45px;
        height: 45px;
        border-radius: 50px;
        background: #32CD32;
        color: #fff;
        font-size: 25px;
    }

    .responsive-phone-icon:hover {
        color: #fff;
    }

    .responsive-phone-icon i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .burger-phone-icon-section {
        display: flex;
        align-items: center;
    }
    .header .menu-block {
        margin: 0px auto;
    }
    /* for mobile menu responsive section responsive css end */
    .product-section-check-box label {
        font-size: 13px;
    }
    .size-select-btn button {
        width: 21%;
    }
    .product-filter-product-image img {
        height: 339px;
        object-position: top center;
    }
    .product-list-section {
        margin: 40px 0px;
    }
    .product-filter-product-right-side-header-text h5 {
        font-size: 18px;
    }
    .all-section-banner .main-banner-image img {
        height: 200px;
    }
    .all-section-banner .main-banner-text h1 {
        font-size: 30px;
    }
    .product-details-header-text h5 {
        font-size: 22px;
    }
    .product-details-text .offer-price {
        font-size: 22px;
    }
    .product-details-image img {
        height: 558px;
    }
    .cart-product-image img {
        height: 150px;
    }
    .place-order-section .product-section-check-box label {
        font-size: 13px;
    }
    .product-cart-section {
        margin: 40px 0px;
    }
    .address-details-section h6 {
        font-size: 14px;
    }
    .address-details-section p {
        font-size: 13px;
    }
    .add-new-address-icon i {
        font-size: 34px;
    }
    .add-new-address-text h6 {
        font-size: 14px;
    }
    .edit-remove-btn button {
        padding: 6px 15px;
        font-size: 12px;
    }
    .my-order-section .cart-product-details-text a {
        font-size: 15px;
    }
    .track-order-btn:hover {
        font-size: 13px;
    }
    .order-owner-name-email-text h5 {
        font-size: 13px;
    }
    .track-location-order-btn a {
        padding: 8px 12px;
        font-size: 12px;
    }
    .my-order-cancel-order-btn a {
        padding: 8px 12px;
        font-size: 12px;
    }
    .my-order-total-price-text h5 {
        font-size: 14px;
    }
    .order-product-image-text-section .cart-product-image img {
        height: 100px;
        border-radius: 5px;
    }
    .my-order-section .place-order-btn a {
        font-size: 13px;
    }
    .unmissable-collection-image img {
        height: 260px;
    }
    .shop-by-theme-image img {
        height: 260px;
    }
    .main-banner-logo-image img {
        width: 130px !important;
    }
    .main-banner-text h1 {
        font-size: 30px;
    }
    .main-banner-image img {
        height: 344px;
    }
    .trending-categories-image img {
        height: 365px;
    }
    .profile-image img {
        height: 134px;
    }
    .upload-image-delete-btn-section {
        padding: 9px;
    }
    .upload-image-text h6 {
        font-size: 18px;
    }
    .general-information-profile-top-text h5 {
        font-size: 16px;
    }
    .desktop-header{
        display: none;
    }
    .responsive-header{
        display: block;
     }
     .responsive-dropdown-content {
        display: block !important;
    }
    .down-angle-btn {
        position: absolute;
        top: 5px;
        right: 0;
    }
    .header-selected-icon {
        margin-right: 18px;
    }
    .brand img {
        width: 67px;
    }
    .men-women-select-section-btn{
        display:  block;
     }
     .my-order-product-right-side-three-btn {
        justify-content: start;
        margin-top: 10px;
    }
    .product-right-side-three-btn {
        margin-right: 8px;
        margin-left: 0px;
    }
    .top-header-logo-text-section {
        margin-left: 58px;
    }
    .top-header-logo-description p {
        font-size: 14px !important;
        width: 100%;
        line-height: 22px;
    }
    .top-header-logo img {
        width: 70px !important;
    }
    .next-episode-x-ray-section-product-details-text {
        height: 276px;
        overflow: hidden;
    }
    .next-episode-x-ray-section-product-details-text p {
        -webkit-line-clamp: 4;
    }
}


/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .product-filter-product-image img {
        height: 252px;
    }
    .product-section-check-box label:before {
        padding: 7px;
    }
    .product-section-check-box input:checked+label:after {
        top: 2px;
        left: 6px;
    }
    .all-section-banner .main-banner-image img {
        height: 160px;
    }
    .all-section-banner .main-banner-text h1 {
        font-size: 25px;
    }
    .product-details-image img {
        height: 430px;
    }
    .remove-wishlist-btn a {
        padding: 7px 0px;
        font-size: 12px;
        margin-right: 0px;
        width: 49%;
    }
    .remove-wishlist-btn {
        margin-top: 12px;
        width: 100%;
        text-align: center;
    }
    .desktop-remove-wishlist-btn{
        display: none;
    }
    .cart-product-image img {
        height: 149px;
        border-radius: 7px;
    }
    .for-responsive-remove-wishlist-btn{
        display: block;
    }
    .product-cart-section .faq-tab li a {
        font-size: 13px;
    }
    .add-new-address-section button {
        margin-bottom: 30px;
    }
    .section-top-select-ul-selection ul li {
        margin: 0px 5px;
        font-size: 13px;
    }
    .my-order-section .place-order-btn a {
        margin-bottom: 22px;
    }
    .order-id-text-section {
        border-radius: 1px;
        padding: 8px;
    }
    .your-information-details {
        height: auto;
    }
    .order-success-section .billing-details-header-text h5 {
        margin: 20px 0px 20px 0px;
    }
    .order-succesful-text-image h4 {
        font-size: 17px;
    }
    .continue-shopping-btn {
        margin-top: 9px;
    }
    .continue-shopping-btn a {
        width: 100% !important;
    }
    .unmissable-collection-image img {
        height: 185px;
    }
    .main-banner-logo-image img {
        width: 115px !important;
    }
    .main-banner-text h1 {
        font-size: 25px;
        margin-bottom: 5px;
    }
    .main-banner-text p {
        font-size: 15px;
        line-height: 27px;
    }
    .main-banner-image img {
        height: 268px;
    }
    .main-banner-slider .owl-dots button {
        width: 17px;
        height: 17px;
        margin: 0px 3px;
    }
    .main-banner-slider .owl-dots .owl-dot span {
        margin: 4px;
    }
    .main-banner-slider .owl-dots .owl-dot span {
        width: 7px;
        height: 7px;
    }
    .shop-by-theme-image img {
        height: 180px;
    }
    .straight-form-hollywood-image-section img {
        height: 120px;
    }
    .unmissable-collection-header-text{
        margin-bottom: 16px;
    }

    .unmissable-collection-header-text h4 {
        font-size: 20px;
    }


    .trending-near-section-header-text h4 {
        font-size: 20px;
    }


    .top-ten-week-section-header-text h4 {
        font-size: 20px;
    }

    .shop-by-theme-section-header-text{
        margin-bottom: 16px;
    }
    .shop-by-theme-section-header-text h4 {
        font-size: 20px;
    }


    .women-in-charge-section-header-text h4 {
        font-size: 20px;
    }
    

    .most-watched-bengali-section-header-text h4 {
        font-size: 20px;
    }

    .straight-form-hollywood-section-header-text{
        margin-bottom: 16px;
    }
    .straight-form-hollywood-section-header-text h4 {
        font-size: 20px;
    }

    .trending-categories-section-header-text{
        margin-bottom: 16px;
    }
    .trending-categories-section-header-text h4 {
        font-size: 20px;
    }

    .best-of-nxt-episode-section-header-text{
        margin-bottom: 16px;
    }
    .best-of-nxt-episode-section-header-text h4 {
        font-size: 20px;
    }

    .straight-form-hollywood-image-section {
        border-radius: 7px;
    }
    .straight-form-hollywood-image-section img {
        border-radius: 7px;
    }
    .trending-categories-image img {
        height: 309px;
    }
    .my-order-page-product-filter-total-section{
        margin-bottom: 15px;
    }
    .top-header-logo-text-section {
        margin-left: 58px;
        width: 70%;
    }
    .top-header-logo-description br{
        display: none;
    }
    .unmissable-collection {
        margin: 8px 0px 7px 0px !important;
    }
    .next-episode-x-ray-section-product-details-text {
        height: 272px;
        overflow: hidden;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .product-left-right-section {
        border-right: none;
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
    }
    .product-responsive-filter-btn{
        display: block;
    }
    .add-class-for-responsive{
        background: #fff;
        width: 100%;
        height: 100%;
        position: fixed;
        padding: 30px 21px;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
        overflow: auto;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    }
    .responsive-style{
        display: none;
    }
    .filter-section-devider{
        display: none;
    }
    .filter-option-btn{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        border-top: 1px #dddddd solid;
        background: #fff;
    }
    .responsive-clear-option-btn{
        display: block;
        margin-top: -7%;
    }
    .filterration-show-hide-section{
        display: block;
    }
    .all-section-banner .main-banner-text{
        text-align: center;
    }
    .product-details-image-section{
        margin-bottom: 22px;
    }
    .product-select-desktop{
        display: none;
    }
    .product-select-responsive{
        display: block;
        margin-top: 50px;
    }
    .cart-product-image{
        margin-bottom: 22px;
    }
    .cart-product-image img {
        height: 154px;
    }
    .cart-product-image-text-row-section .size-section{
        margin-bottom: 10px;
    }
    .cart-image-text-total-section .product-image-price-section {
        margin: 12px 0px;
    }
    .product-cart-section {
        margin: 30px 0px;
    }
    .save-an-additional-section {
        margin-top: 10px;
    }
    .desktop-remove-wishlist-btn{
        display: none;
    }
    .remove-wishlist-btn {
        margin-top: -12px;
        width: 100%;
        text-align: center;
    }
    .checkout-address-details-total-section label input+span {
        height: auto;
    }
    .delivery-to-address-section {
        margin: 0px 0px 30px 0px;
    }
    .add-new-address-btn-responsive{
        display: block;
    }
    .add-new-address-btn-desktop{
        display: none;
    }
    .checkout-address-details-total-section{
        margin-bottom: 15px;
    }
    .section-top-select-ul-selection {
        padding-bottom: 14px;
    }
    .checkout-section-top-select-section .section-select-top-ul-section {
        border-bottom: 1px solid transparent;
    }
    .address-section-header-text h5 {
        margin-bottom: 10px;
    }
    .home-text-batch{
        display: block;
        
    }
    .zoom_image img{
        transform: inherit !important;
    }
    .zoom_image {
        cursor: inherit !important;
    }
    .delivery-text h5 {
        font-size: 13px;
    }
    .delivery-text p {
        font-size: 9px;
    }
    .confirm-order-payment-option-header-text h5 {
        margin: 16px 0;
    }
    .confirm-order-payment-option-section{
        margin-bottom: 22px;
    }
    .my-order-section{
        margin: 30px 0px !important;
    }
    .your-information-details{
        margin-top: 15px;
    }
    .order-success-image-text-total-section {
        display: block;
        text-align: center;
    }
    .order-succesful-image{
        margin-bottom: 15px;
    }
    .unmissable-collection-image img {
        height: 147px;
    }
    .unmissable-collection-header-text h4 {
        font-size: 17px;
    }


    .trending-near-section-header-text h4 {
        font-size: 17px;
    }


    .top-ten-week-section-header-text h4 {
        font-size: 17px;
    }

    .shop-by-theme-section-header-text{
        margin-bottom: 16px;
    }
    .shop-by-theme-section-header-text h4 {
        font-size: 17px;
    }


    .women-in-charge-section-header-text h4 {
        font-size: 17px;
    }
    

    .most-watched-bengali-section-header-text h4 {
        font-size: 17px;
    }

    .straight-form-hollywood-section-header-text{
        margin-bottom: 16px;
    }
    .straight-form-hollywood-section-header-text h4 {
        font-size: 17px;
    }

    .trending-categories-section-header-text{
        margin-bottom: 16px;
    }
    .trending-categories-section-header-text h4 {
        font-size: 17px;
    }

    .best-of-nxt-episode-section-header-text{
        margin-bottom: 16px;
    }
    .best-of-nxt-episode-section-header-text h4 {
        font-size: 17px;
    }
    .trending-near-section-more-product-btn a {
        margin-bottom: 5px;
        font-size: 13px;
    }
    .top-ten-week-section-more-product-btn a {
        margin-bottom: 5px;
        font-size: 13px;
    }
    .women-in-charge-section-more-product-btn a {
        margin-bottom: 5px;
        font-size: 13px;
    }
    .most-watched-bengali-section-more-product-btn a {
        margin-bottom: 5px;
        font-size: 13px;
    }
    .shop-by-theme-image img {
        height: 149px;
        border-radius: 10px;
    }
    .straight-form-hollywood-image-section img {
        height: 88px;
    }
    .trending-categories-image img {
        height: 240px;
        border-radius: 10px;
    }
    .trending-categories-image {
        border-radius: 10px;
    }
    .trending-categories-image-text h5 {
        font-size: 14px;
    }
    .best-of-nxt-episode-slider-image img {
        height: 280px;
    }
    .best-of-nxt-episode-image-slider .owl-dots button {
        width: 17px;
        height: 17px;
        margin: 0px 3px;
    }
    .best-of-nxt-episode-image-slider .owl-dots .owl-dot span {
        margin: 4px;
    }
    .best-of-nxt-episode-image-slider .owl-dots .owl-dot span {
        width: 7px;
        height: 7px;
    }
    .profile-image img {
        height: 398px;
    }
    .header .menu-link {
        font-size: 14px;
    }
    .responsive-header .dropdown-item {
        font-size: 13px;
    }
    .responsive-account-btn ul li a {
        font-size: 14px;
    }
    /* .exchange-order-badge{
        margin-top: 10px;
    } */
    /* .order-placed-section{
        margin-bottom: 10px;
    } */
    .suggest-delivery-text h5 {
        font-size: 13px;
    }
    .checkout-suggest-address{
        margin-left: 5px;
    }
    .all-section-banner .main-banner-image {
        height: 80px;
    }
    .product-name-text h5 {
        font-size: 12px !important;
    }
    .product-name-text h6 {
        font-size: 12px !important;
    }
    .price-text .price-number-text {
        font-size: 12px !important;
    }
    .top-header-logo-description p {
        font-size: 11px !important;
        width: 84%;
        line-height: 16px !important;
    }
    .next-episode-x-ray-section-product-details-text {
        height: 350px;
        overflow: hidden;
    }
    .next-episode-x-ray-section-product-details-text p {
        -webkit-line-clamp: 11;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .add-class-for-responsive {
        padding: 30px 5px;
    }
    .product-left-right-section {
        height: 438px;
    }
    .product-responsive-filter-btn button {
        margin-bottom: 5px;
    }
    .product-filter-product-image img {
        height: 190px;
    }
    .product-filter-product-image-name-text h5 {
        line-height: 22px;
    }
    .product-filter-product-image-details-text h6 {
        font-size: 13px;
        line-height: 21px;
    }
    .all-section-banner .main-banner-image img {
        height: 108px;
    }
    .all-section-banner .main-banner-text h1 {
        font-size: 20px;
    }
    .product-filter-product-right-side-header-text h5 {
        font-size: 15px;
    }
    .product-details-image img {
        height: 320px;
    }
    .product-details-header-text h5 {
        font-size: 19px;
    }
    .add-to-cart-btn{
        margin-bottom: 10px;
    }
    .social-media-link a {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .cart-product-image img {
        height: 146px;
        object-position: top center;
        border-radius: 7px;
    }
    .product-cart-section .percentage-off {
        font-size: 10px;
    }
    .product-cart-section .offer-price {
        font-size: 14px;
    }
    .product-cart-section .product-price {
        font-size: 14px;
    }
    .product-cart-section .product-details-section a{
        padding: 5px !important;
    }
    .cart-product-details-text a {
        font-size: 13px;
    }
    .cart-product-details-text p{
        margin-bottom: 2px;
        font-size: 12px;
    }
    .product-size-select select {
        padding: 4px 2px;
        font-size: 12px;

    }
    .cart-image-text-total-section .filter-section-header-text h5 {
        font-size: 11px;
    }
    .remove-wishlist-btn a {
        padding: 7px 0px;
        font-size: 11px;
        margin-right: 0px;
        width: 49%;
    }
    .remove-wishlist-btn {
        margin-top: -6px;
        width: 100%;
        text-align: center;
    }
    .cart-product-image-text-row-section {
        margin-bottom: 12px;
        padding-bottom: 10px;
    }
    .section-top-select-ul-selection span{
        font-size: 7px;
    }
    .section-top-select-ul-selection ul li {
        font-size: 11px;
    }
    .add-new-address-icon i {
        font-size: 24px;
    }
    .add-new-address-text h6 {
        font-size: 12px;
    }
    .add-new-address-section button {
        padding: 8px 0px;
        border-radius: 0px;
    }
    .add-new-address-section button {
        margin-bottom: 15px;
    }
    .address-details-section p {
        font-size: 12px;
    }
    .address-details-section h6 {
        font-size: 13px;
    }
    .edit-remove-btn{
        text-align: right;
    }
    .delivery-text h5 {
        font-size: 12px;
    }
    .delivery-text p {
        display: none;
    }
    .confirm-order-delivery-address-change-btn a {
        font-size: 11px;
    }
    .confirm-order-delivery-address-change-btn {
        right: 6px;
        top: 5px;
    }
    .confirm-order-delivery-address {
        padding: 9px 6px;
    }
    .order-id-text-section {
        padding: 4px;
    }
    .order-id-text-section h6 {
        font-size: 10px;
    }
    .order-placed-text p {
        font-size: 10px;
    }
    .order-id-order-placed-text {
        margin-bottom: 15px;
    }
    .track-location-order-btn {
        text-align: left;
    }
    .order-id-order-placed-text {
        margin-bottom: 8px;
    }
    .my-order-section .cart-product-details-text a {
        font-size: 13px;
    }
    .cart-image-text-total-section .product-image-price-section {
        margin: 6px 0px;
    }
    .order-owner-name-email-text h5 {
        margin-bottom: 2px;
    }
    .main-banner-logo-image img {
        width: 66px !important;
    }
    .main-banner-text h1 {
        font-size: 17px;    
        margin-bottom: 6px;
    }
    .main-banner-text p {
        font-size: 12px;
        line-height: 16px;
    }
    .main-banner-image img {
        height: 190px;
    }
    .unmissable-collection-image img {
        height: 88px;
    }
    .trending-near-product-list-slider .owl-dots {
        bottom: -7%;
    }
    .top-ten-week-section-product-list-slider .owl-dots {
        bottom: -7%;
    }
    .women-in-charge-section-product-list-slider .owl-dots {
        bottom: -7%;
    }
    .most-watched-bengali-section-product-list-slider .owl-dots {
        bottom: -7%;
    }
    .shop-by-theme-image img {
        height: 90px;
        border-radius: 8px;
    }
    .straight-form-hollywood-image-section img {
        height: 91px;
    }
    .trending-categories-image img {
        height: 160px;
    }
    .trending-categories-image-text h5 {
        font-size: 11px;
    }
    .best-of-nxt-episode-slider-image img {
        height: 209px;
    }
    .trending-near-section-more-product-btn a {
        margin-bottom: 3px;
        font-size: 11px;
    }
    .top-ten-week-section-more-product-btn a {
        margin-bottom: 3px;
        font-size: 11px;
    }
    .women-in-charge-section-more-product-btn a {
        margin-bottom: 3px;
        font-size: 11px;
    }
    .most-watched-bengali-section-more-product-btn a {
        margin-bottom: 3px;
        font-size: 11px;
    }
    .most-watched-bengali-section-header-text{
        margin-bottom: 10px;
    }
    .unmissable-collection-header-text h4 {
        font-size: 16px;
    }
    .trending-near-section-header-text h4 {
        font-size: 16px;
    }
    .top-ten-week-section-header-text h4 {
        font-size: 16px;
    }
    .shop-by-theme-section-header-text h4 {
        font-size: 16px;
    }
    .women-in-charge-section-header-text h4 {
        font-size: 16px;
    }
    .most-watched-bengali-section-header-text h4 {
        font-size: 16px;
    }
    .straight-form-hollywood-section-header-text h4 {
        font-size: 16px;
    }
    .trending-categories-section-header-text h4 {
        font-size: 16px;
    }
    .best-of-nxt-episode-section-header-text h4 {
        font-size: 16px;
    }
    .trending-near-section {
        margin: 30px 0px 42px 0px;
    }
    .top-ten-week-section {
        margin: 30px 0px 42px 0px;
    }
    .women-in-charge-section {
        margin: 30px 0px 42px 0px;
    }
    .most-watched-bengali-section {
        margin: 30px 0px 42px 0px;
    }
    .profile-page-email-section {
        padding: 10px;
    }
    .general-information-profile-form-section {
        padding: 10px;
    }
    .edit-profile-picture {
        padding: 10px;
    }
    .profile-image img {
        height: 250px;
    }
    .profile-save-btn {
        margin: 10px 0px;
    }
    .upload-image-text h6 {
        font-size: 17px;
    }
    .upload-image-text p{
        font-size: 14px;
    }
    .general-information-profile-top-text h5 {
        font-size: 15px;
    }
    .header-selected-icon a {
        font-size: 15px;
        margin: 0px 7px;
    }
    .brand img {
        width: 50px;
    }
    .responive-search-cancle-btn {
        right: -7px;
    }
    .responive-search-cancle-btn button {
        font-size: 10px;
        width: 16px;
        height: 16px;
    }

    /* product exchange responsive css start */
    .select-replacement-section {
        display: block;
    }
    .select-replacement-section .product-size-select {
        width: 100%;
        margin-left: 0px;
        margin-top: 11px;
    }
    .reason-for-exchange-section .product-size-select{
        margin-bottom: 8px;
    }
    .confirm-order-payment-option-header-text h5 {
        font-size: 14px;
    }
    .reverse-pickup-drop-title-list ul li {
        font-size: 12px;
    }
    .place-order-section .product-section-check-box label {
        font-size: 11px;
    }
    .exchange-section-back-exchange-btn .add-to-wishlist-btn{
        margin-bottom: 8px;
    }
    /* product exchange responsive css end*/
    .order-id-order-placed-text {
        display: block;
    }
    .my-order-product-right-side-three-btn {
        margin-top: 0px;
    }
    .track-location-order-btn a {
        font-size: 9px;
        padding: 5px 12px;
    }
    .exchange-order-badge h5 {
        font-size: 9px;
        padding: 9px 15px;
    }
    .responsive-clear-option-btn {
        margin-top: -13%;
    }
    .product-list-section {
        margin: 0px 0px 20px 0px;
    }
    .top-header-logo-text-section {
        margin-left: 0px;
        margin-top: 10px;
        width: 100%;
    }
    .top-header-logo img {
        width: 58px !important;
    }
    .product-name-price-text-total-section {
        padding: 6px;
    }
    .shop-by-theme-round-image-category-name h5 {
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 10px;
    }
    .product-name-price-text-total-section {
        padding: 5px;
    }
    .product-name-text h5 {
        font-size: 10px !important;
    }
    .product-name-text h6 {
        font-size: 10px !important;
    }
    .shop-by-theme-product-image-col-section {
        padding: 0px 5px !important;
    }
    .shop-by-theme-product-image-col-section:nth-child(3){
        margin-top: 9px;
    }
    .shop-by-theme-product-image-col-section:nth-child(4){
        margin-top: 9px;

    }
    .next-episode-x-ray-section-product-details-text {
        height: 269px;
        overflow: hidden;
    }
    .next-episode-x-ray-section-product-details-text p {
        -webkit-line-clamp: 10;
    }
}

/* New Homepage Responsive css */
@media(max-width:1660.98px) {
    .crew-member-image {
        width: 332px;
        height: 332px;
    }
}

/* X-Large devices (large desktops, less than 1500px) */
@media (max-width: 1440.98px) {

    /* for mobile menu responsive section responsive css start */
    .header .menu-link {
        font-size: 14px;
    }

    .header-phone-number-section a {
        font-size: 14px;
    }

    .header-get-call-section a {
        font-size: 14px;
    }

    .header-phone-number-section {
        margin: 0px 20px;
    }

    /* for mobile menu responsive section responsive css end */
    .main-heder-anchor-tag ul li a {
        font-size: 16px;
    }
    .man-women-btn ul li a {
        padding: 13px 13px;
        font-size: 22px;
    }
    .logo-btn img {
        width: 68px;
    }
    .top-header-logo-description p {
        font-size: 16px;
    }
    .top-header-logo img {
        width: 95px;
    }
    .top-header-image-section {
        width: 100%;
        padding: 15px 0px 9px 0px;
    }
    .header-selected-icon a {
        font-size: 18px;
        margin: 0px 7px;
    }
    .discount-section-text p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .discount-section-text h5 {
        font-size: 25px;
    }
    .unmissable-collection-header-text h4 {
        font-size: 15px;
    }
    .category-more-btn a {
        font-size: 18px;
    }
    .unmissable-collection-image img {
        height: 354px;
    }
    .trending-near-you-product-slider-image img {
        height: 326px;
    }
    .top-ten-this-week-image img {
        height: 540px;
    }
    .top-ten-number-text {
        width: 264px;
        height: 264px;
    }
    .top-ten-number-text h3 {
        font-size: 110px;
    }
    .trending-categories-image img {
        height: 285px;
    }
    .trending-categories-image-text h5 {
        font-size: 25px;
    }
    .flash-sale-section .unmissable-collection-header-text h4 {
        font-size: 30px;
    }
    .product-name-text h5 {
        font-size: 20px;
    }
    .product-name-text h6 {
        font-size: 18px;
    }
    .price-text .price-cancel-text {
        font-size: 15px;
    }
    .price-text .price-number-text {
        font-size: 15px;
    }
    .price-text .offer-price-text {
        font-size: 15px;
    }
    .next-episode-x-ray-banner-image img {
        height: 60px;
    }
    .next-episode-x-ray-section-product-details-text h4 {
        font-size: 30px;
    }
    .next-episode-x-ray-section-product-details-text h5 {
        font-size: 22px;
        margin-bottom: 16px;
    }
    .next-episode-x-ray-section-product-details-text p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 22px;
    }
    .next-episode-x-ray-section-order-now-btn a {
        font-size: 20px;
    }
    .next-episode-x-ray-section-product-image img {
        height: 394px;
    }
    .popular-categories-image-section img {
        height: 254px;
    }
    .ad-space-section-image img {
        height: 460px;
    }
    .recently-added-product-image img {
        height: 340px;
    }
    .the-boys-club-slider-image img {
        height: 340px;
    }
    .shop-by-theme-image img {
        height: 300px;
    }
    .review-text p {
        font-size: 14px;
        line-height: 19px;
    }
    .review-image img {
        height: 97px;
    }
    .happy-customers-section-text h5 {
        font-size: 26px;
    }
    .footer-quick-link-title-text h4 {
        font-size: 25px;
    }
    .footer-quick-link-ul ul li a {
        font-size: 18px;
    }
    .connect-with-us-inner-section h5 {
        font-size: 18px;
    }
    .customer-social-icon ul li a {
        font-size: 18px;
    }
    .footer .faq-tab li p {
        font-size: 16px;
        line-height: 25px;
    }
    .policy-section-text h5 {
        font-size: 20px;
    }
    .crew-member-image {
        width: 270px;
        height: 270px;
    }
    .unmissable-collection-image img {
        height: 300px;
    }
    .top-ten-this-week-image img {
        height: 450px;
    }
    .product-name-text h5 {
        font-size: 17px;
    }
    .product-name-text h6 {
        font-size: 15px;
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .header .menu-item {
        margin: 0px 4px;
    }
    .product-name-text h5 {
        font-size: 15px;
    }
    .product-name-text h6 {
        font-size: 14px;
    }
    .product-name-price-text-total-section {
        padding: 13px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    /* for mobile menu responsive section responsive css start */
    .header .menu-link {
        padding: 0px 4px;
    }

    .header .menu-item {
        margin: 0px 0px;
    }

    .header .menu-item {
        display: block;
    }

    .menu-section {
        display: block;
    }

    .header .menu-link {
        display: block;
        padding: 9px 15px;
        font-size: 18px;
    }

    .header .menu-item {
        margin: 0px 0px;
        border-bottom: 1px solid #eee;
    }

    .header-get-call-section {
        text-align: center;
        margin-top: 30px;
    }

    .header-phone-number-section a {
        display: none;
    }

    .responsive-phone-icon {
        display: block;
        margin-right: 15px;
        position: relative;
        width: 45px;
        height: 45px;
        border-radius: 50px;
        background: #32CD32;
        color: #fff;
        font-size: 25px;
    }

    .responsive-phone-icon:hover {
        color: #fff;
    }

    .responsive-phone-icon i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .burger-phone-icon-section {
        display: flex;
        align-items: center;
    }

    .header .menu-block {
        margin: 0px auto;
    }

    /* for mobile menu responsive section responsive css end */
    .responsive-header {
        display: block;
    }

    .responsive-dropdown-content {
        display: block !important;
    }

    .desktop-header {
        display: none;
    }

    .down-angle-btn {
        position: absolute;
        top: 5px;
        right: 0;
    }
    .main-banner-image img {
        height: 390px;
    }
    .top-banner-slider .owl-dots .owl-dot.active span {
        background: #000000;
        width: 50px !important;
    }
    .top-banner-slider .owl-dot span {
        width: 22px !important;
        height: 6px !important;
    }
    .discount-section-text h5 {
        font-size: 20px;
    }
    .discount-section-text p {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .unmissable-collection-image img {
        height: 254px;
    }
    .unmissable-collection-image-slider .owl-next {
        right: -2%;
    }
    .unmissable-collection-image-slider .owl-prev {
        left: 3%;
    }
    .trending-near-you-product-slider-image img {
        height: 264px;
    }
    .product-name-text h5 {
        font-size: 15px;
    }
    .product-name-text h6 {
        font-size: 14px;
        margin-bottom: 7px;
    }
    .product-name-price-text-total-section {
        padding: 10px;
    }
    .trending-near-product-list-slider .owl-next {
        right: -2%;
        top: 34%;
    }
    .trending-near-product-list-slider .owl-prev  {
        left: 3%;
        top: 34%;
    }
    .top-ten-this-week-image img {
        height: 370px;
    }
    .top-ten-number-text {
        width: 237px;
        height: 237px;
        left: -61px;
    }
    .top-ten-number-text h3 {
        font-size: 96px;
    }
    .trending-categories-image img {
        height: 278px;
    }
    .trending-categories-image-text h5 {
        font-size: 20px;
    }
    .next-episode-x-ray-banner-image img {
        height: 60px;
    }
    .next-episode-x-ray-section-product-details-text h4 {
        font-size: 25px;
    }
    .next-episode-x-ray-section-product-details-text h5 {
        font-size: 19px;
        margin-bottom: 11px;
    }
    .next-episode-x-ray-section-product-image img {
        height: 418px;
    }
    .popular-categories-image-section img {
        height: 210px;
    }
    .ad-space-section-image img {
        height: 290px;
    }
    .recently-added-product-image img {
        height: 275px;
    }
    .the-boys-club-slider-image img {
        height: 330px;
    }
    .shop-by-theme-image img {
        height: 232px;
    }
    .review-text p {
        font-size: 14px;
        line-height: 18px;
    }
    .review-image img {
        height: 108px;
    }
    .happy-customers-section-text h5 {
        font-size: 22px;
    }
    .footer-quick-link-title-text h4 {
        font-size: 22px;
    }
    .brand img {
        width: 53px;
    }
    .man-woman-btn-section{
        display: block;
    }
    .crew-member-image {
        width: 260px;
        height: 260px;
    }
}


/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .main-banner-image img {
        height: 333px;
    }
    .unmissable-collection-header-text h4 {
        font-size: 16px;
    }
    .unmissable-collection-image img {
        height: 207px;
    }
    .category-more-btn a {
        font-size: 16px;
    }
    .next-episode-x-ray-banner-image img {
        height: 102px;
    }
    .next-episode-x-ray-section-product-details-text h4 {
        font-size: 22px;
    }
    .next-episode-x-ray-section-product-details-text h5 {
        font-size: 17px;
        margin-bottom: 11px;
    }
    .next-episode-x-ray-section-product-details-text p {
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 7px;
    }
    .next-episode-x-ray-section-order-now-btn {
        margin-top: 32px;
    }
    .next-episode-x-ray-section-product-image img {
        height: 386px;
    }
    .next-episode-x-ray-section-order-now-btn a {
        font-size: 17px;
    }
    .popular-categories-image-section img {
        height: 195px;
    }
    .ad-space-section-image img {
        height: 325px;
    }
    .the-boys-club-slider-image img {
        height: 366px;
    }
    .review-text p {
        font-size: 14px;
        line-height: 21px;
    }
    .shop-by-theme-image img {
        height: 163px;
    }
    .trending-categories-image {
        margin: 0px 1px;
    }
    .trending-section {
        margin: 0px 0px 7px 0px !important;
    }
    .top-ten-this-week-section {
        margin: 0px 0px 7px 0px !important;
    }
    .popular-categories-section {
        margin: 0px 0px 7px 0px !important;
    }
    .recently-added-section {
        margin: 0px 0px 7px 0px !important;
    }
    .shop-by-theme-section {
        margin: 0px 0px 7px 0px !important;
    }
    .unmissable-collection-header-text h4 {
        font-size: 14px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .top-header-logo-description p {
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 0px;
    }
    .top-header-logo img {
        width: 80px;
    }
    .man-woman-btn-section {
        margin: 20px 0px;
    }
    .man-woman-filter-btn a {
        font-size: 20px;
        padding: 11px 22px;
    }
    .main-banner-image img {
        height: 260px;
    }
    .discount-section {
        padding: 9px 0px;
    }
    .unmissable-collection-image img {
        height: 157px;
    }
    .trending-near-you-product-slider-image img {
        height: 215px;
    }
    .top-ten-this-week-image img {
        height: 330px;
    }
    .top-ten-number-text {
        width: 182px;
        height: 182px;
        left: -40px;
    }
    .top-ten-number-text h3 {
        font-size: 75px;
    }
    .trending-categories-image img {
        height: 298px;
    }
    .trending-categories-image-text h5 {
        font-size: 17px;
    }
    .flash-sale-section .unmissable-collection-header-text h4 {
        font-size: 25px;
    }
    .next-episode-x-ray-banner-image img {
        height: 83px;
    }
    .next-episode-x-ray-section-product-details-text h4 {
        font-size: 19px;
        line-height: 30px;
    }
    .next-episode-x-ray-section-product-details-text h5 {
        font-size: 15px;
        margin-bottom: 1px;
        line-height: 30px;
    }
    .next-episode-x-ray-section-product-details-text p {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 7px;
    }
    .popular-categories-image-section img {
        height: 130px;
    }
    .ad-space-section-image img {
        height: 214px;
    }
    .recently-added-product-image img {
        height: 240px;
    }
    .the-boys-club-slider-image img {
        height: 265px;
    }
    .shop-by-theme-image img {
        height: 126px;
    }
    .review-text p {
        font-size: 12px;
        line-height: 18px;
    }
    .review-image img {
        height: 76px;
    }
    .discount-section-text h5 {
        font-size: 16px;
    }
    .happy-customers-section-text h5 {
        font-size: 18px;
    }
    .happy-customers-section-text {
        margin-top: 16px;
    }
    .footer-quick-link-title-text h4 {
        font-size: 18px;
    }
    .footer-quick-link-ul ul li a {
        font-size: 16px;
    }
    .footer-quick-link-section{
        margin-bottom: 22px;
    }
    .connect-with-us-inner-section h5 {
        font-size: 16px;
    }
    .footer .faq-blocks {
        margin-top: 6px;
    }
    .footer .faq-tab li a {
        padding: 15px 15px;
        font-size: 16px;
    }
    .customer-service-contact-btn ul li a {
        font-size: 14px;
        padding: 3px !important;
    }
    .kids-men-women-footer-title h5 {
        margin-bottom: 6px;
        font-size: 16px;
    }
    .footer .faq-tab li p {
        font-size: 14px;
        line-height: 21px;
    }
    .policy-section-text h5 {
        font-size: 17px;
        margin-bottom: 5px;
    }
    .footer-copyright-text p {
        font-size: 16px;
    }
    .for-desktop{
        display: none;
    }
    .for-responsive{
        display: block;
    }
    .crew-member-image {
        width: 193px;
        height: 193px;
    }
    .resposive-footer-content-section{
        display: block;
    }
    .desktop-footer-content-section{
        display: none;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .main-banner-image img {
        height: 385px;
    }
    .top-header-logo-description p {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 0px;
    }
    .top-header-logo-description br{
        display: none;
    }
    .top-header-logo img {
        width: 72px;
    }
    .man-woman-filter-btn a {
        font-size: 15px;
        padding: 7px 15px;
        margin: 0px 3px;
        width: 47%;
    }
    .man-woman-btn-section {
        margin: 5px 0px;
    }
    .unmissable-collection-image img {
        height: 130px;
    }
    .trending-near-you-product-slider-image img {
        height: 160px;
    }
    .product-name-text h5 {
        font-size: 12px;
    }
    .product-name-text h6 {
        font-size: 10px;
        margin-bottom: 3px;
    }
    .price-text .price-cancel-text {
        font-size: 10px;
    }
    .price-text .price-number-text {
        font-size: 10px;
    }
    .price-text .offer-price-text {
        font-size: 10px;
    }
    .unmissable-collection-header-text h4 {
        font-size: 12px;
        margin-bottom: 6px;
    }
    .category-more-btn a {
        font-size: 14px;
    }
    .top-ten-this-week-image img {
        height: 235px;
    }
    .top-ten-number-text {
        width: 113px;
        height: 108px;
        left: -31px;
        bottom: -23px;
    }
    .top-ten-number-text h3 {
        font-size: 60px;
    }
    .trending-categories-image img {
        height: 140px;
        border-radius: 10px;
    }
    .trending-categories-image-text h5 {
        font-size: 12px;
    }
    .trending-categories-image a {
        border-radius: 10px;
        margin-bottom: -8px;
    }
    .trending-categories-image a::after {
        border-radius: 10px;
    }
    .flash-sale-section .unmissable-collection-header-text h4 {
        font-size: 22px;
    }
    .next-episode-x-ray-banner-image img {
        height: 105px;
    }
    .discount-section-text p {
        font-size: 11px;
        margin-bottom: 0px;
    }
    .discount-section {
        padding: 2px 0px;
    }
    .next-episode-x-ray-section-product-details-text h4 {
        font-size: 14px;
        line-height: 22px;
    }
    .next-episode-x-ray-section-product-details-text h5 {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 12px;
    }
    .next-episode-x-ray-section-product-details-text p {
        font-size: 10px;
        line-height: 15px;
    }
    .next-episode-x-ray-section-product-image img {
        height: 284px;
        border-radius: 10px;
    }
    .next-episode-x-ray-section-order-now-btn a {
        font-size: 16px;
    }
    .product-explore-btn a {
        font-size: 15px;
    }
    .popular-categories-image-section{
        border-radius: 5px;
    }
    .popular-categories-image-section img {
        height: 100px;
        border-radius: 5px;
    }
    .ad-space-section-image img {
        height: 124px;
        border-radius: 10px;
    }
    .recently-added-product-image{
        border-radius: 10px;
    }
    .recently-added-product-image img {
        height: 150px;
        border-radius: 10px;

    }
    .the-boys-club-slider-image img {
        height: 123px;
        border-radius: 10px;
    }
    .shop-by-theme-image{
        border-radius: 11px;
    }
    .shop-by-theme-image img {
        height: 100px;
        border-radius: 11px;
    }
    .footer {
        margin-top: 20px;
        background: #181818;
        padding: 3px 0px;
    }
    .footer-quick-link-title-text h4 {
        font-size: 16px;
    }
    .footer-quick-link-ul ul li a {
        font-size: 14px !important;
    }
    .connect-with-us-inner-section h5 {
        font-size: 14px;
    }
    .customer-social-icon ul li a {
        font-size: 15px;
        margin-right: 6px;
    }
    .footer .faq-tab li a {
        padding: 11px 15px;
        font-size: 15px;
    }
    .customer-service-contact-btn ul li a {
        font-size: 12px !important;
        padding: 2px !important;
    }
    .footer .faq-tab li p {
        font-size: 12px;
        line-height: 17px;
    }
    .policy-section-text h5 {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .footer-copyright-text p {
        font-size: 14px;
    }
    .header .menu-link {
        padding: 6px 15px;
        font-size: 14px;
    }
    .responsive-account-btn ul li a {
        padding: 6px 15px;
        font-size: 14px;
    }
    .review-text p {
        font-size: 10px;
        line-height: 15px;
    }
    .brand img {
        width: 60px;
        /* margin-left: 40%; */
    }
    .top-header-image-section {
        padding: 45px 0px 9px 0px;
    }
    .top-banner-slider .owl-dots .owl-dot.active span {
        width: 35px !important;
    }
    .top-banner-slider .owl-dot span {
        width: 12px !important;
        height: 4px !important;
    }
    .discount-section-text h5 {
        font-size: 12px;
    }
    .unmissable-collection {
        margin: 10px 0px;
    }
    .trending-section {
        margin: 10px 0px;
    }
    .top-ten-this-week-section {
        margin: 10px 0px;
    }
    .trending-categories-section {
        margin: 10px 0px;
    }
    .flash-sale-section {
        margin: 10px 0px;
    }
    .flash-sale-title-section {
        margin-bottom: 10px;
    }
    .next-episode-x-ray-section {
        margin: 10px 0px;
    }
    .next-episode-x-ray-section-product {
        padding: 16px;
    }
    .popular-categories-section {
        margin: 10px 0px;
    }
    .ad-space-section {
        margin: 10px 0px;
    }
    .recently-added-section {
        margin: 10px 0px;
    }
    .the-boys-club-section {
        margin: 10px 0px;
    }
    .the-boys-club-image-slider .owl-dots .owl-dot span {
        margin: 4px;
        width: 7px;
        height: 7px;
    }
    .shop-by-theme-section {
        margin: 10px 0px;
    }
    .nav {
        top: 0px;
    }
    .crew-member-image {
        width: 120px;
        height: 120px;
    }
    .trending-categories-image {
        margin: 0px 0px;
        margin-bottom: 4px;
    }
    .shop-by-theme-image {
        margin: 0px 0px;
    }
}
/* New Homepage Responsive css end */